.resize-active * {
  transition: none !important;
}

.js-hidden,
.delivery-hidden {
  top: -9999px !important;
  left: -9999px !important;
  position: absolute !important;
  visibility: hidden;
}

body {
  min-width: 320px;
}

#wrapper {
  position: relative;
  overflow: hidden;
}

.container,
.container-fluid {
  @include media-breakpoint-down(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.align-centered {
  margin: 0 auto;
}

.align-center {
  .container {
    display: flex;
  }

  .row {
    width: calc(100% + 20px);
  }

  .feature-block {
    .row {
      align-items: center;
    }
  }
}

#main {
  .template-content &,
  .template-page & {
    padding-bottom: 0;
  }

  .template-home &,
  .template-main & {
    padding: 0;
  }
}

.content-main {
  padding-bottom: 20px;

  @include media-breakpoint-up(md) {
    padding-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    @include fontsize(14, 24);
  }

  .text-block {
    margin: 0 0 20px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 30px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 5% 46px 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &.content-text {
    h2 {
      margin: 0 0 20px;

      @include media-breakpoint-up(lg) {
        margin: 0 0 28px;
      }
    }

    h3 {
      @include font(18, 26, $font-weight-light);
      letter-spacing: -0.5px;
      margin: 0 0 15px;

      @include media-breakpoint-up(lg) {
        @include fontsize(24, 32);
        margin: 0 0 26px;
      }

      @include media-breakpoint-up(xl) {
        @include fontsize(30, 40);
      }
    }

    p {
      margin: 0 0 11px;
    }
  }
}

.img-area {
  position: relative;

  img {
    @include img-responsive;
  }

  &[id^='bg-stretch'],
  &[id*=' bg-stretch'] {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    background-color: theme-color('light');
  }

  &.img-full {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    min-height: 300px;

    &:after {
      min-height: inherit;
      content: '';
    }

    .caption {
      flex-grow: 1;
      position: relative;
      padding: 20px;
      z-index: 50;
      color: theme-color('default');

      @include media-breakpoint-up(lg) {
        padding: 25px;
      }

      @include media-breakpoint-up(xl) {
        padding: 30px;
      }

      h2,
      h3 {
        &:last-child {
          margin: 0;
        }
      }

      &:after {
        @include absolute(-40px, 0, 0, 0);
        content: '';
        z-index: -1;
        background: linear-gradient(to bottom, rgba(theme-color('dark'), 0) 0%, rgba(theme-color('dark'), 0.9) 100%);
      }
    }
  }
}

.img-thumbnail {
  border: 0;
  padding: 0;
  border-radius: 0;
  margin: 0 0 15px;
  background: none;
  display: block;

  img {
    @include img-responsive;
    margin: 0 auto;
    width: 100%;
  }
}

.img-cover,
.img-thumbnail > a[id^='bg-stretch'],
.img-thumbnail > a[id*=' bg-stretch'] {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  background-color: theme-color('light');
}

[class^='bg-before-'],
[class*=' bg-before-'] {
  &:before {
    @include absolute(0, -9999px, -9999px, 0);
    content: '';
    z-index: -1;
  }
}

.btn-arrows {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 200;
  padding: 20px 0 0;
  margin: -2px -3px -2px -2px;

  @include media-breakpoint-up(md) {
    @include absolute(50%, 0, 0);
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
  }
}

.btn-next,
.btn-prev {
  background: theme-color('primary');
  color: theme-color('default');
  z-index: 200;
  display: block;
  text-align: center;
  margin: 0;
  @include absolute(50%, 0);
  transform: translateY(-50%);
  @include size(30px, 60px);
  border-radius: 0 30px 30px 0;

  @include media-breakpoint-up(md) {
    @include size(36px, 72px);
    border-radius: 0 36px 36px 0;
  }

  @include media-breakpoint-up(xl) {
    @include size(56px, 112px);
    border-radius: 0 56px 56px 0;
  }

  &:after {
    @include absolute(50%, 50%);
    @include fontsize(17, 22);
    @include icon('\e910');
    transform: translate(-50%, -50%);
    margin: 0 0 0 -4px;

    @include media-breakpoint-up(xl) {
      @include fontsize(38, 38);
      margin: 0 0 0 -8px;
    }
  }

  &:hover {
    background: darken(theme-color('primary'), 10%);
    color: theme-color('default');
  }
}

.btn-next {
  left: auto;
  right: 0;
  border-radius: 30px 0 0 30px;
  @include media-breakpoint-up(md) {
    border-radius: 36px 0 0 36px;
  }

  @include media-breakpoint-up(xl) {
    border-radius: 56px 0 0 56px;
  }

  &:after {
    content: '\e911';
    margin: 0 0 0 4px;

    @include media-breakpoint-up(xl) {
      margin: 0 0 0 8px;
    }
  }
}

.btn-up {
  @include size(34px);
  background: theme-color('dark');
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  z-index: 1000;
  right: 15px;
  color: #c3c5c9;
  text-align: center;
  transition: background 0.3s, color 0.3s;
  display: none;
  cursor: pointer;

  @include media-breakpoint-up(lg) {
    @include size(62px);
  }

  &:after {
    @include fontsize(8, 8);
    @include absolute(50%, 50%);
    @include icon('\e90e');
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(lg) {
      @include fontsize(12, 12);
    }
  }
}

.btn-up-colored {
  color: $gray-900;
  background: theme-color('default');
}

.btn-up-hovered {
  color: theme-color('default');
  background: theme-color('primary');
}

.content ul.upload-photos {
  @extend %listreset;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  margin: -4px;
  text-align: center;
  padding-top: 10px;

  @include media-breakpoint-up(md) {
    padding-top: 0;
  }

  li {
    width: calc(33.33% - 8px);
    margin: 4px;
    min-height: 75px;
    background: $input-bg;
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    padding: 10px 5px;
    justify-content: center;
    border-radius: $input-border-radius;
    align-items: center;
    border: 1px solid $gray-400;

    @include media-breakpoint-up(sm) {
      min-height: 100px;
    }

    @include media-breakpoint-up(md) {
      width: calc(25% - 8px);
      min-height: 116px;
    }

    &.img-active {
      .ico,
      .text {
        opacity: 0;
      }
    }

    .thumb-holder {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: $input-border-radius;
      right: 0;
      overflow: hidden !important;
    }

    img.thumb {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 100%;
      width: 100% !important;
      height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .ico {
    display: flex;
    min-height: 60px;
    background: none;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    border: 0;
    margin: 0 0 5px;
    width: 100%;
    pointer-events: none;
  }

  .text {
    display: block;
    pointer-events: none;
  }

  .btn-delete {
    @include size(24px);
    @include absolute(-10px, auto, -10px);
    @include fontsize(10, 14);
    background: theme-color('primary');
    border-radius: 50%;
    color: theme-color('default');
    z-index: 500;
    cursor: pointer;
    border: 0;

    &:before {
      @include absolute(50%, 50%);
      @include icon('\e91c');
      transform: translate(-50%, -50%);
      display: block;
    }

    &:hover {
      background: darken(theme-color('primary'), 10%);
    }

    &:focus {
      outline: 0;
    }
  }

  &.add {
    padding: 20px 0 0;

    @include media-breakpoint-up(lg) {
      margin: -12px;
      padding-top: 35px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 50px;
    }

    li {
      background: #babcc0;
      padding: 0;
      border: 0;

      @include media-breakpoint-up(md) {
        margin: 12px;
        width: calc(33.33% - 24px);
      }

      .icon-sort {
        @include absolute(50%, 50%);
        @include fontsize(30, 30);
        transition: 0.25s ease-in-out;
        transition-property: opacity, visibility;
        color: theme-color('default');
        opacity: 0;
        cursor: pointer;
        visibility: hidden;
        z-index: 50;
        transform: translate(-50%, -50%);

        @include media-breakpoint-up(lg) {
          @include fontsize(40, 40);
        }
      }

      .icon-plus {
        @include fontsize(30, 30);
        color: theme-color('default');

        @include media-breakpoint-up(lg) {
          @include fontsize(46, 46);
        }
      }

      .thumb-holder {
        &:after {
          @include absolute(0, 0, 0, 0);
          @include transition;
          background: rgba(theme-color('dark'), 0.3);
          content: '';
          opacity: 0;
          visibility: hidden;
        }
      }

      &.img-active:hover {
        .icon-sort,
        .thumb-holder:after {
          opacity: 1;
          visibility: visible;
        }
      }

      .btn-delete {
        background: theme-color('dark');
      }
    }
  }

  .text-plus {
    font-weight: $font-weight-bold;
    display: block;
    position: relative;
    padding: 30px 0 0;

    &:before {
      @include absolute(0, 50%);
      @include icon('\e91b');
      @include fontsize(21, 21);
      transform: translateX(-50%);
      color: theme-color('primary');
    }
  }
}

.controls-list {
  @extend %listreset;
  display: flex;
  flex-flow: row wrap;
  margin: -5px -10px;
  align-items: flex-start;

  @include media-breakpoint-up(lg) {
    margin: -10px -21px;
  }

  li {
    padding: 5px 10px;

    @include media-breakpoint-up(lg) {
      padding: 10px 21px;
    }
  }

  label,
  .label {
    margin: 0 0 15px;
  }

  .custom-control {
    margin: 0;
  }
}

.js-map {
  bottom: 0;

  .map-holder,
  .overlay,
  .map-wrap {
    @include absolute(0, 0, 0, 0);
  }

  .overlay {
    background: theme-color('default') url(../static/images/loader.gif) no-repeat 50% 50%;
  }
}

.selection-list {
  @extend %listreset;
  display: flex;
  flex-flow: row wrap;
  margin: -5px;
  flex-grow: 1;
  column-gap: 0 !important;
  -moz-column-gap: 0 !important;

  li {
    width: 50%;
    padding: 5px;

    @include media-breakpoint-up(md) {
      width: 20%;
    }
  }

  .custom-control {
    margin: 0;
  }

  .ico-img {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin-bottom: 6px;
    flex-grow: 1;
    width: 100%;
    min-height: 73px;

    &:after {
      min-height: inherit;
      content: '';
    }

    @include media-breakpoint-up(sm) {
      margin-bottom: 11px;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 21px;
    }

    &:after {
      display: block;
      content: '';
    }

    img {
      @include img-responsive;
    }
  }

  &.selection-icon {
    .custom-control {
      .custom-control-label {
        padding: 15px;

        @include media-breakpoint-up(lg) {
          padding: 24px 15px;
        }

        @include media-breakpoint-up(xl) {
          padding: 35px 15px 32px;
        }
      }
    }
  }

  .custom-control {
    display: flex;
    flex-flow: row wrap;

    .custom-control-label {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
    }
  }

  &.three-cols li {
    @include media-breakpoint-up(md) {
      width: 33.33%;
    }
  }

  &.two-cols li {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &.four-cols li {
    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }

  &.five-cols li {
    @include media-breakpoint-up(md) {
      width: 33.33%;
    }

    @include media-breakpoint-up(lg) {
      width: 33.33%;
    }

    @include media-breakpoint-up(xl) {
      width: 20%;
    }
  }
}

.map-main {
  position: relative;

  .map {
    iframe {
      border: 0;
      width: 100% !important;
      height: 400px;
    }

    img {
      @include size(100%, auto);
      display: block;
    }
  }

  > .btn-block {
    margin: 0;
    background: theme-color('dark');
    text-decoration-color: theme-color('default');
    padding: 10px 0;
    border-radius: $border-radius;

    @include media-breakpoint-up(lg) {
      border-radius: 4px;
      padding: 18px 0;
    }
  }
}

.alert {
  @include fontsize(11, 16);
  border: 0;
  text-align: center;
  position: relative;
  padding: 12px 38px;
  overflow: visible;
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  border-radius: $border-radius;
  margin: 0 0 15px;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-normal;
  color: theme-color('default');

  @include media-breakpoint-up(lg) {
    @include fontsize(12, 21);
    padding: 9px 60px 10px;
    margin: 0 0 24px;
  }

  .form-row + & {
    margin: 15px 0 0;
  }

  &.text-left {
    justify-content: flex-start;
  }

  &.text-right {
    justify-content: flex-end;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > .row {
    flex-grow: 1;
  }

  &.alert-danger {
    background: $red2;
    width: 100%;

    .form-error &,
    .was-validated & {
      display: block;
    }
  }

  &.alert-danger2 {
    background: $red;
  }

  &.alert-success {
    background: theme-color('primary');

    .form-success & {
      display: block;
    }

    i {
      font-size: rem-calc(9px);

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(10px);
      }
    }
  }

  &.alert-info {
    padding: 15px;

    @include media-breakpoint-up(lg) {
      padding: 21px 65px 32px 30px;
    }
  }

  i {
    @include absolute(50%, 7px);
    @include fontsize(10, 24);
    @include size(24px);
    transform: translateY(-50%);
    color: theme-color('default');
    border-radius: 50%;
    background: rgba(theme-color('default'), 0.3);

    @include media-breakpoint-up(lg) {
      @include size(26px);
      @include fontsize(11, 26);
      left: 25px;
    }

    &:hover,
    &:focus {
      background: rgba(theme-color('default'), 0.5);
    }

    &.icon-error {
      @include fontsize(20, 20);
      background: none;
      border-radius: 0;

      @include media-breakpoint-up(lg) {
        @include fontsize(26, 26);
      }
    }
  }

  .icon-holder {
    max-width: 50px;
    margin: 0 10px 0 0;
    flex-shrink: 0;

    @include media-breakpoint-up(md) {
      max-width: 80px;
      margin: 0 15px 0 0;
    }

    @include media-breakpoint-up(lg) {
      max-width: 150px;
      margin: 0 20px 0 0;
    }

    img {
      @include img-responsive;
    }
  }

  &:not(.alert-lg) {
    h2 {
      margin: 0 0 4px;

      @include media-breakpoint-up(md) {
        @include fontsize(22, 30);
        margin: 0 0 4px;
      }

      @include media-breakpoint-up(lg) {
        @include fontsize(26, 34);
      }
    }
  }

  h2 {
    margin: 0 0 10px;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  &[class^='bg-before-'],
  &[class*=' bg-before-'] {
    border-radius: 0;
    margin: 0;
  }

  &.alert-lg {
    font-weight: $font-weight-light;
    padding: 20px 0;

    @include media-breakpoint-up(md) {
      @include fontsize(14, 22);
    }

    @include media-breakpoint-up(lg) {
      @include fontsize(16, 24);
      padding: 30px 0;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 43px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 35px 0 0;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 46px 0 0;
    }

    h2 {
      margin: 0 0 8px;

      @include media-breakpoint-up(xl) {
        font-size: 2.25rem;
        line-height: 2.9375rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
        line-height: 2.25rem;
        letter-spacing: -0.5px;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.5625rem;
        line-height: 1.9375rem;
        margin: 0 0 17px;
      }
    }
  }

  .alert-holder {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .icon-holder {
      flex-shrink: 0;
    }

    .text-holder {
      flex-grow: 1;
      overflow: hidden;
    }

    .text {
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        max-width: 70%;
      }
    }
  }
}

.slide-number {
  @include absolute(auto, 10px, auto, 11px);
  @include size(40px);
  @include font(14, 16, 500);
  color: $white;
  background: theme-color('primary');
  padding: 4px 6px;
  border-radius: $border-radius;

  .current-num {
    display: block;
  }

  .total-num {
    display: block;
    text-align: right;
    position: relative;

    &:before {
      @include absolute(-1px, 50%);
      @include size(30px, 1px);
      background: $white;
      content: '';
      transform: translateX(-50%) rotate(-45deg);
    }
  }
}

.tag-scrap {
  @include size(56px);
  @include absolute(14px, auto, -11px);
  @include fontsize(11, 13);
  display: flex;
  align-items: center;
  background: theme-color('danger');
  color: theme-color('default');
  border-radius: 50%;
  z-index: 60;
  justify-content: center;
  text-align: center;
  transform: rotate(19deg);

  @include media-breakpoint-up(xl) {
    @include size(62px);
    font-size: rem-calc(12);
  }
}

.filters-head {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 0 20px;

  @include media-breakpoint-up(lg) {
    @include fontsize(14, 22);
    margin: 0 0 33px;
  }

  .bar {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 12px;

    @include media-breakpoint-up(md) {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    &:last-child {
      margin: 0;
    }
  }

  .btn-selection {
    @extend %listreset;
    margin: -5px;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding: 0 0 10px;

    @include media-breakpoint-up(md) {
      padding: 0;
    }

    li {
      padding: 5px;

      span {
        @include fontsize(11, 16);
        padding: 11px 8px;
        display: block;
        text-align: center;
        border-radius: $border-radius;
        background: theme-color('lightest');
        color: theme-color('dark');

        @include media-breakpoint-up(sm) {
          @include fontsize(12, 16);
        }

        @include media-breakpoint-up(lg) {
          @include fontsize(14, 18);
          min-width: 104px;
          padding: 11px 15px;
        }

        &:hover,
        &:focus {
          background: theme-color('primary');
        }
      }

      &.active > span {
        background: theme-color('primary');
      }
    }
  }

  .filters-holder {
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: -5px;

    @include media-breakpoint-up(lg) {
      margin: -8px -14px;
    }

    .form-group {
      padding: 5px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: -5px;

      @include media-breakpoint-up(lg) {
        padding: 8px 14px;
      }

      .label,
      label {
        font-weight: $font-weight-light;
        flex-shrink: 0;
        width: auto;
        margin: 0;
        flex-grow: inherit;
        padding: 5px;

        @include media-breakpoint-up(lg) {
          @include fontsize(14, 18);
        }
      }

      .input-group {
        padding: 5px;
        min-width: 250px;

        @include media-breakpoint-up(lg) {
          width: 317px;
        }
      }
    }
  }

  .filter-links {
    @extend %listreset;
    @include fontsize(20, 20);
    margin: -5px;
    display: flex;
    padding: 5px;
    flex-flow: row wrap;

    @include media-breakpoint-up(lg) {
      @include fontsize(40, 30);
      margin: -8px;
    }

    li {
      padding: 5px;

      @include media-breakpoint-up(lg) {
        padding: 8px;
      }

      a {
        display: block;
        color: theme-color('lightest');

        &:hover {
          color: theme-color('primary');
        }
      }

      &.active a {
        color: theme-color('primary');
      }
    }
  }

  .title {
    display: block;
    margin: 0 0 5px;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  .location {
    position: relative;
    z-index: 900;

    &.active-location {
      .opener:after {
        transform: rotate(180deg);
      }
    }

    .subtitle {
      display: block;
    }

    .opener {
      @include inline(top);
      color: theme-color('dark');
      font-weight: $font-weight-medium;
      position: relative;
      padding: 0 20px 0 0;

      &:after {
        @include absolute(0, auto, 0);
        @include icon('\e91f');
        transition: transform 0.25s ease-in-out;
        font-size: rem-calc(18);
        text-align: center;
      }

      &:hover {
        color: theme-color('primary');
      }
    }

    .location-details {
      @include absolute(100%, 0);
      background: theme-color('lightest');
      border-radius: $border-radius;
      box-shadow: 0 0 5px 0 rgba(theme-color('dark'), 0.1);
      padding: 10px 15px;
      margin: 10px 0 0;
      width: 280px;

      @include media-breakpoint-up(md) {
        width: 400px;
        left: auto;
        right: 0;
      }

      @include media-breakpoint-up(lg) {
        width: 392px;
        padding: 18px 24px 19px;
        margin: 16px 0 0;
      }

      .title {
        font-weight: $font-weight-medium;
        display: block;
        margin: 0 0 10px;

        @include media-breakpoint-up(lg) {
          margin: 0 0 16px;
        }
      }

      .form-inline {
        margin: -5px;

        > .form-group {
          padding: 5px;
        }
      }

      .form-control {
        background: theme-color('default');
        font-weight: $font-weight-light;

        @include media-breakpoint-up(lg) {
          @include fontsize(14, 18);
          padding-top: 11px;
          padding-bottom: 11px;
        }
      }

      .btn {
        min-width: 86px;
        margin: 5px;

        @include media-breakpoint-up(lg) {
          font-size: rem-calc(14px);
        }
      }
    }
  }

  .form-control,
  .jcf-select {
    background: theme-color('lightest');
  }
}

.details-list {
  @extend %listreset;

  // TODO: move to another css class when car details
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  // margin: 0 -10px;

  // @include media-breakpoint-up(sm) {
  //   margin: 0 -10px;
  // }

  // @include media-breakpoint-up(lg) {
  //   @include fontsize(16, 22);
  //   margin: 0 -35px;
  // }

  // @include media-breakpoint-up(xl) {
  //   justify-content: flex-start;
  //   margin: 0 -45px;
  // }

  // li {
  //   display: flex;
  //   flex-flow: column nowrap;
  //   text-align: center;
  //   margin: 0 10px 15px;
  //   width: calc(33.333% - 20px);

  //   @include media-breakpoint-up(sm) {
  //     margin: 0 10px 15px;
  //     width: calc(33.333% - 40px);
  //   }

  //   @include media-breakpoint-up(md) {
  //     max-width: 120px;
  //     min-width: 120px;
  //     width: auto;
  //   }

  //   @include media-breakpoint-up(lg) {
  //     margin: 0 35px 38px;
  //   }

  //   @include media-breakpoint-up(xl) {
  //     margin: 0 45px 38px;
  //   }
  // }

  .text {
    display: block;
    text-align: center;
  }

  .icon-wrap {
    display: block;
    min-height: 56px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto 16px;
    width: 50px;

    @include media-breakpoint-up(sm) {
      width: 80px;
    }

    @include media-breakpoint-up(md) {
      margin: 0 0 16px;
      width: auto;
    }

    img {
      @include img-responsive;
    }

    &:after {
      content: '';
      min-height: inherit;
    }
  }
}

.description-list {
  @extend %listreset;

  li {
    margin: 0 0 15px;
    padding: 5px 0;

    @include media-breakpoint-up(lg) {
      margin: 0 0 22px;
      padding: 10px 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 14px 0;
      margin: 0 0 47px;
    }

    &:last-child {
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  .detail-title {
    display: block;
    margin: 0 0 10px;
    @include font(18, 20, 300);

    @include media-breakpoint-up(lg) {
      @include fontsize(20, 24);
      margin: 0 0 18px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 0 22px;
    }
  }
}

.meta-list {
  @extend %listreset;
  @include font(14, 18, 300);
  color: theme-color('dark');

  @include media-breakpoint-up(lg) {
    @include fontsize(16, 18);
  }

  li {
    padding: 0 0 15px 0;

    img {
      margin-right: 15px;
    }
  }

  .meta-text {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: theme-color('secondary');
    line-height: inherit;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}

.content .payment-details {
  @include clearfix;
  position: relative;
  background: theme-color('lightest');
  border-radius: $border-radius;
  padding: 15px;
  margin: 0 0 15px;

  @include media-breakpoint-up(lg) {
    @include fontsize(12, 21);
    padding: 20px 30px;
    margin: 0 0 20px;
  }

  @include media-breakpoint-up(xl) {
    padding: 27px 40px 53px;
  }

  &:last-child {
    margin: 0;
  }

  .brand-logo {
    @include absolute(14px, 15px);
    max-width: 30px;

    @include media-breakpoint-up(lg) {
      max-width: 60px;
    }

    img {
      @include img-responsive;
      @include img-responsive;
    }
  }

  .head {
    position: relative;
    padding: 0 30px 17px;
    margin: 0 0 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 28px;
      padding-bottom: 25px;
    }

    &:after {
      @include absolute(auto, 0, 0, 0);
      height: 2px;
      background: #d1d3d5;
      content: '';

      @include media-breakpoint-up(lg) {
        left: -15px;
        right: -15px;
      }
    }

    .text-box {
      max-width: 100%;

      @include media-breakpoint-up(lg) {
        max-width: 100%;
      }

      @include media-breakpoint-up(xl) {
        max-width: 100%;
      }
    }

    h2 {
      @include media-breakpoint-up(lg) {
        @include fontsize(22, 28);
        margin: 0 0 13px;
      }

      @include media-breakpoint-up(xl) {
        @include fontsize(26, 32);
      }
    }
  }

  .text-holder {
    @include clearfix;
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: 97%;
    }
  }

  p {
    strong {
      font-weight: $font-weight-semibold;
    }
  }

  h4 {
    margin: 0;
    font-weight: $font-weight-semibold;
  }

  h3 {
    @include media-breakpoint-up(lg) {
      margin: 0 0 18px;
    }
  }

  .form-row {
    padding-top: 10px;

    @include media-breakpoint-up(lg) {
      padding-top: 16px;
    }

    &:first-child {
      padding-top: 0;
    }

    &.form-group {
      padding-top: 0;
    }
  }

  ul.list-unstyled {
    li {
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }

      strong {
        font-weight: $font-weight-semibold;
      }
    }
  }

  .item-list {
    margin: 0 0 15px;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      margin: 0 0 20px;
    }

    dt {
      float: left;
      clear: both;
      width: 50%;
      font-weight: $font-weight-light;
      padding: 0 5px 0 0;
      margin: 0;

      @include media-breakpoint-up(lg) {
        width: 67%;
      }
    }

    dd {
      display: block;
      margin: 0;
      overflow: hidden;
    }
  }

  address {
    margin: 0 0 6px;
  }
}

.section-car-makes {
}

.car-makes {
  @extend %listreset;
  margin: -10px;
  padding: 0 0 20px;
  display: flex;
  flex-flow: row wrap;

  @include media-breakpoint-up(lg) {
    padding: 0 4% 20px;
    margin: -12px;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 7% 20px;
    margin: -14px -28px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px;
    display: flex;
    width: 50%;

    @include media-breakpoint-up(sm) {
      width: 33.33%;
    }

    @include media-breakpoint-up(lg) {
      padding: 12px;
    }

    @include media-breakpoint-up(xl) {
      padding: 14px 28px;
    }

    &:before {
      width: auto;
      height: auto;
      position: static;
      left: auto;
      top: auto;
      border-radius: 0;
      background: none;
    }

    a {
      display: flex;
      border: 2px solid theme-color('info');
      padding: 11px 10px 21px;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius;
      flex-flow: column nowrap;

      .img-thumbnail {
        margin: 0 0 3px;
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        max-height: 80px;
        border: none;

        img {
          object-fit: contain;
          max-width: 100%;
          max-height: 100%;
        }
      }

      h3 {
        font-weight: $font-weight-semibold;

        @include media-breakpoint-down(md) {
          @include fontsize(14, 18);
        }

        &:last-child {
          margin: 0;
        }
      }

      &:hover {
        background: theme-color('default');
        color: theme-color('dark');
        border-color: theme-color('primary');
      }
    }
  }
}

.insurance-main {
  ul.tick-list.inline {
    @include media-breakpoint-up(lg) {
      @include fontsize(16, 21);
      margin-left: -5px;
      margin-right: -5px;
      letter-spacing: -0.2px;
    }

    li {
      @include media-breakpoint-up(lg) {
        padding-left: 5px;
        padding-right: 5px;
      }

      &:before {
        @include media-breakpoint-up(lg) {
          margin-right: 8px;
        }
      }
    }
  }
}

.section-subscription {
  .custom-control.font-large .custom-control-label {
    font-size: rem-calc(14);
    font-weight: $font-weight-semibold;

    @include media-breakpoint-up(lg) {
      font-size: rem-calc(17);
    }
  }

  .form-group.has-space {
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      margin-top: 27px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 42px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .img-area {
    @include media-breakpoint-up(md) {
      margin: 0 -40px 0 -20px;
    }

    @include media-breakpoint-up(lg) {
      margin: 0 -20px 0 -30px;
    }

    @include media-breakpoint-up(xxl) {
      margin: 0 -160px 0 -5px;
    }
  }

  .btn-block {
    @include media-breakpoint-up(lg) {
      padding-top: 24px;
    }
  }

  .btn.btn-lg {
    @include media-breakpoint-up(lg) {
      min-width: 260px;
    }

    @include media-breakpoint-up(xl) {
      min-width: 330px;
    }
  }
}

.smart-repair {
  @include media-breakpoint-up(lg) {
    @include fontsize(14, 28);
  }

  h3 {
    @include font(16, 22, $font-weight-semibold);
    margin: 0 0 20px;
  }

  .text {
    @include fontsize(12, 21);
    display: block;
  }

  .img-thumbnail {
    img {
      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }
  }
}

.insurance-features {
  .section-head {
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 33px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 33px;
    }

    h2 {
      margin: 0 0 8px;
    }
  }

  .alert {
    @include fontsize(14, 22);
    margin: 0 0 15px;
    padding: 10px 60px;

    @include media-breakpoint-up(lg) {
      @include fontsize(18, 26);
      margin: 0 0 20px;
    }

    @include media-breakpoint-up(xl) {
      margin: 0 0 28px;
    }
  }

  ul.tick-list,
  ul.cross-list,
  ol.order-list {
    letter-spacing: -0.3px;
    margin-bottom: -16px;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      margin-bottom: -30px;
      padding-bottom: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding-bottom: 40px;
      margin-bottom: -37px;
    }

    &:last-child {
      padding-bottom: 0;
    }

    > li {
      @include fontsize(12, 16);
      padding-bottom: 16px;

      @include media-breakpoint-up(lg) {
        @include fontsize(15, 20);
        padding-bottom: 30px;
      }

      @include media-breakpoint-up(xl) {
        @include fontsize(18, 22);
        padding-bottom: 37px;
      }
    }
  }

  .img-area {
    padding: 10px 0 20px;

    @include media-breakpoint-up(lg) {
      padding: 15px 0 30px;
    }

    @include media-breakpoint-up(xl) {
      padding: 31px 0 37px;
    }

    .caption {
      padding-top: 7px;

      @include media-breakpoint-up(xl) {
        padding-top: 13px;
      }
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.content.common-collapse.section-info {
  padding: 0;

  .collapse {
    display: block;
    overflow: hidden;
    height: 0;
  }

  .show {
    height: auto;
  }

  .read-more {
    &.active {
      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    .less {
      display: block;
    }
  }
}

#progress-bar {
  margin: 10px auto 0;
  display: none;
  position: relative;
  background: theme-color('light');
  border: 1px solid theme-color('lighter');
  height: 10px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;

  &.active {
    display: block;
  }

  div {
    @include absolute(0, 0);
    background: theme-color('primary');
    height: 10px;
  }
}

[class^='bg-before-'] h1 {
  color: #19212c;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin: 0 0 10px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

[class^='bg-before-'] h1 strong {
  font-weight: 700;
}

[class^='bg-before-'] h1 a {
  color: inherit;
}

[class^='bg-before-'] h1 a:hover {
  color: #9fd34a;
}

[class^='bg-before-'] h2 strong {
  font-weight: 600;
}

.app-wrapper {
  overflow: hidden;
  position: relative;
}

.invalid {
  margin-top: 5px;
  color: #dc3545;
}

@media (min-width: 576px) {
  [class^='bg-before-'] h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  [class^='bg-before-'] h1 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    margin: 0 0 12px;
  }
}

@media (min-width: 1000px) {
  [class^='bg-before-'] h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 0 19px;
  }
}

.text-strong {
  font-weight: 500!important;
}
