.auction-slider {
  position: relative;
  .slick-slide {
    & > div {
      height: 100%;
    }
  }

  .slick-slider {
    max-width: 540px;
    margin: auto;

    .slide {
      height: 100%;
    }

    .img-area {
      object-fit: cover;
      width: 100%;
      height: 364px;
    }

    .slick-arrow {
      &:hover {
        cursor: pointer;
      }
    }

    @include media-breakpoint-up(md) {
      max-width: 720px;
      .img-area {
        height: 460px;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 970px;
      .img-area {
        height: 308px;
      }
    }

    @include media-breakpoint-up(xl) {
      max-width: 1198px;
      .img-area {
        height: 364px;
      }
    }
  }
}

.content.auction-filters {
  padding-top: 15px;

  @include media-breakpoint-up(lg) {
    padding-top: 20px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 26px;
  }
}

.box-filter {
  color: theme-color('default');
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    margin: 0;
  }

  .holder {
    min-height: 210px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    border-radius: $border-radius;

    @include media-breakpoint-up(md) {
      min-height: 260px;
    }

    @include media-breakpoint-up(lg) {
      min-height: 310px;
    }

    &:after {
      content: '';
      min-height: inherit;
    }
  }

  .img-area {
    @include absolute(0, 0, 0, 0);
    border-radius: $border-radius;
    overflow: hidden;

    &:after {
      @include absolute(0, 0, 0, 0);
      content: '';
      background: rgba(theme-color('dark'), 0.4);
    }
  }

  h2 {
    margin: 0 0 13px;

    @include media-breakpoint-up(lg) {
      margin: 0 0 20px;
      line-height: rem-calc(32);
    }

    @include media-breakpoint-up(xl) {
      line-height: rem-calc(41);
      margin: 0 0 23px;
    }
  }

  .text-box {
    position: relative;
    padding: 15px;
    z-index: 15;
  }

  .btn.btn-ml {
    @include media-breakpoint-up(lg) {
      @include fontsize(14, 18);
      min-width: 196px;
    }
  }
}

.post-auction {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
  padding-bottom: 10px;

  .auction-slider & {
    @include slider-flexbox;
  }

  &.featured {
    .holder {
      background: theme-color('default');

      &:after {
        @include absolute(0, 0, 0, 0);
        pointer-events: none;
        border: 2px solid theme-color('primary');
        content: '';
        z-index: 1;
        border-radius: $border-radius;
      }
    }

    .thumbnails {
      display: flex;
    }

    .tag-featured {
      display: block;
    }
  }

  .holder {
    background: rgba(theme-color('light'), 0.7);
    border-radius: $border-radius;
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    z-index: 500;
    width: 100%;
  }

  .frame {
    flex-grow: 1;
    width: 100%;
    padding: 0 22px 30px;
  }

  .btn-block {
    flex-grow: 1;
    align-self: flex-end;
  }

  .tag-featured {
    @include absolute(12px, 12px);
    @include fontsize(12, 17);
    background: theme-color('primary');
    color: theme-color('default');
    padding: 2px 8px;
    display: none;
    border-radius: $border-radius;

    @include media-breakpoint-up(lg) {
      @include fontsize(13, 17);
      left: 16px;
      top: 16px;
    }
  }

  .btn-view {
    @include absolute(auto, auto, 12px, 12px);
    @include size(24px);
    @include fontsize(10, 24);
    border-radius: 50%;
    color: theme-color('dark');
    background: theme-color('default');

    @include media-breakpoint-up(xl) {
      @include size(28px);
      @include fontsize(12, 28);
      bottom: 13px;
      right: 17px;
    }

    &:after {
      @include absolute(50%, 50%);
      @include icon('\e93a');
      transform: translate(-50%, -50%);
    }

    &:hover {
      color: theme-color('primary');
    }
  }

  .img-thumbnail {
    margin: 0 0 18px 0;
    width: 100%;
    max-width: inherit;
    border-radius: $border-radius $border-radius 0 0;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  h3 {
    margin: 0 0 2px;
    font-weight: $font-weight-light;
    letter-spacing: 0.25px;

    @include media-breakpoint-up(lg) {
      @include fontsize(22, 28);
    }
  }

  .price {
    @include font(14, 20, $font-weight-semibold);
    display: block;
    color: theme-color('primary');

    @include media-breakpoint-up(lg) {
      @include fontsize(20, 26);
      margin: 0 0 1px;
      letter-spacing: -0.2px;
    }

    .text {
      font-size: rem-calc(13);
      font-weight: $font-weight-light;
      color: theme-color('dark');

      @include media-breakpoint-up(lg) {
        font-size: rem-calc(15);
      }
    }
  }

  .time {
    display: flex;
    flex-flow: row nowrap;
    color: rgba(theme-color('dark'), 0.96);

    &:before {
      @include icon('\e934');
      flex-shrink: 0;
      margin: 0 7px 0 0;
      font-size: rem-calc(15);
    }
  }

  .thumbnails {
    flex-flow: row nowrap;
    margin: -5px;
    padding: 0 0 15px;
    display: none;

    &:last-child {
      padding: 0;
    }

    .thumbnail {
      width: 25%;
      padding: 5px;

      img {
        @include size(100%, auto);
        display: block;
      }
    }
  }

  .btn-block {
    flex-shrink: 0;
  }
}

.auction-content {
  @include media-breakpoint-up(lg) {
    @include fontsize(14, 28);
  }

  .content-block {
    h2 {
      @include media-breakpoint-up(lg) {
        @include fontsize(26, 39);
      }

      @include media-breakpoint-up(xl) {
        @include fontsize(26, 39);
      }
    }
  }

  .img-area {
    @include media-breakpoint-up(lg) {
      margin: -15px -20px;
    }

    @include media-breakpoint-up(xl) {
      margin: -15px -30px;
    }

    @include media-breakpoint-up(xxl) {
      margin: -31px -77px 0 -37px;
    }
  }
}

.auction-features {
  .bg-model {
    @include absolute(-40px, -10px, auto, 0);
    overflow: hidden;
    width: 9999px;
    z-index: -1;
    display: none;

    @include media-breakpoint-up(md) {
      left: -340px;
      top: 0;
      display: block;
    }

    @include media-breakpoint-up(lg) {
      left: -409px;
    }

    &:before {
      @include absolute(-250px, 192px, auto, -300px);
      width: 400px;
      transform: rotate(38deg);
      background: #e6e6e8;
      content: '';

      @include media-breakpoint-up(sm) {
        left: 280px;
      }

      @include media-breakpoint-up(md) {
        left: 280px;
        width: 450px;
        transform: rotate(20deg);
        top: -250px;
        bottom: -250px;
      }

      @include media-breakpoint-up(xl) {
        transform: rotate(36deg);
        width: 500px;
      }
    }

    &:after {
      @include absolute(0, 410px, auto, 0);
      background: #e6e6e8;
      width: 9999px;
      content: '';

      @include media-breakpoint-up(sm) {
        left: 500px;
      }

      @include media-breakpoint-up(lg) {
        left: 440px;
      }

      @include media-breakpoint-up(xl) {
        left: 500px;
      }
    }
  }

  .content-block {
    .section-head {
      padding: 0 0 20px;

      @include media-breakpoint-up(lg) {
        @include fontsize(12, 21);
        padding: 0 0 26px;
      }

      h2 {
        margin: 0 0 15px;

        @include media-breakpoint-up(lg) {
          margin: 0 0 19px;
        }
      }

      .text-box {
        @include media-breakpoint-up(lg) {
          max-width: 70%;
        }

        @include media-breakpoint-up(xl) {
          max-width: 60%;
        }
      }
    }

    .tick-list {
      @include media-breakpoint-up(lg) {
        padding: 0 0 28px;
        margin-bottom: -17px;
      }

      @include media-breakpoint-up(xl) {
        font-size: rem-calc(16);
        padding: 0 0 42px;
      }

      > li {
        @include media-breakpoint-up(lg) {
          padding-bottom: 17px;
        }

        &:before {
          @include media-breakpoint-up(lg) {
            margin-right: 23px;
          }
        }
      }
    }

    .btn.btn-lg {
      @include media-breakpoint-up(lg) {
        min-width: 245px;
      }
    }
  }
}

.section-auction.content {
  .content-holder .row {
    justify-content: flex-start;
  }

  .wrap {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .row-selects {
    margin-bottom: -15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: -20px;
    }

    .form-group {
      flex-grow: 1;
      padding-left: 5px;
      padding-right: 5px;
      flex-basis: 0;
      min-width: 50%;

      @include media-breakpoint-up(sm) {
        min-width: 33.33%;
      }

      @include media-breakpoint-up(md) {
        min-width: 25%;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 10px;
        min-width: 14.28%;
        padding-right: 10px;
      }
    }

    .jcf-select {
      overflow: visible;
    }
  }
}

.product-image-slider {
  position: relative;

  .product-holder {
    position: relative;
    z-index: 5;
  }

  .slides {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0 6px;

    .slide {
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;

      &:before,
      &:after {
        @include absolute(0, 0, auto, 0);
        content: '';
        width: 82px;
        background: linear-gradient(to right, rgba(25, 33, 45, 0.9) 0%, rgba(25, 33, 45, 0) 100%);
        opacity: 0.4;
        z-index: 1;
        pointer-events: none;
      }

      &:after {
        left: auto;
        right: 0;
        background: linear-gradient(to left, rgba(25, 33, 45, 0.9) 0%, rgba(25, 33, 45, 0) 100%);
      }
    }

    .btn-enlarge {
      @include absolute(auto, auto, 10px, 11px);
      @include size(34px);
      @include fontsize(18, 34);
      background: theme-color('dark');
      border-radius: $border-radius;
      text-align: center;
      color: $white;
      z-index: 10;

      @include media-breakpoint-up(lg) {
        @include size(39px);
        @include fontsize(26, 39);
      }

      &:after {
        @include icon('\e908');
        @include absolute(0, 0, 0);
      }

      &:hover,
      &:focus {
        background: lighten(theme-color('dark'), 10%);
      }
    }

    .btn-next,
    .btn-prev {
      @include size(18px, 24px);
      @include absolute(50%, 2px);
      color: $white;
      margin: 0;
      background: none;
      border-radius: 0;
      transform: translateY(-50%);
      z-index: 3;

      @include media-breakpoint-up(xl) {
        @include size(27px, 40px);
      }

      &:after {
        margin: 0;
        @include fontsize(22, 22);
      }

      &:hover {
        color: theme-color('primary');
      }
    }

    .btn-next {
      left: auto;
      right: 4px;
    }
  }

  .thumbnail-slider {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
      overflow: visible;
    }

    .slick-list {
      margin: 0 -6px;
    }

    .slick-slide {
      padding: 5px;

      &.slick-current {
        .img-area {
          box-shadow: 0 0 0 2px $green;
        }
      }

      .img-area {
        @include transition;
        cursor: pointer;
        height: 84px;
        width: 126px;

        @include media-breakpoint-down(lg) {
          height: 72px;
          width: 106px;
        }

        @include media-breakpoint-down(md) {
          height: 106px;
          width: 162px;
        }

        @include media-breakpoint-down(sm) {
          height: 78px;
          width: 116px;
        }

        &:hover {
          opacity: 0.8;
        }
      }

      img {
        @include img-responsive;
        height: 100%;
        border-radius: $border-radius;
      }
    }

    .slide {
      &.slick-current {
        .img-area {
          box-shadow: 0 0 0 2px $green;
        }
      }

      .img-area {
        @include transition;
        margin: 6px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      img {
        @include img-responsive;
        border-radius: $border-radius;
      }
    }
  }

  .tag-scrap {
    right: 10px;
  }
}

.auction-details {
  position: relative;

  @include media-breakpoint-up(lg) {
    @include fontsize(14, 22);
  }

  .radio-list {
    @extend %listreset;
    display: flex;
    flex-flow: row wrap;
    margin: 0 -3px;

    @include media-breakpoint-up(sm) {
      margin: 0 -6px;
    }

    li {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-flow: row wrap;
      min-width: 33.333%;
      max-width: 33.333%;
      padding: 3px;

      @include media-breakpoint-up(sm) {
        padding: 6px;
      }
    }

    .custom-radio {
      position: relative;
      margin: 0;
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      input[type='radio'] {
        position: fixed;
        opacity: 0;
        left: -9999px;
        top: -9999px;
        z-index: -1;

        &:checked {
          ~ .radio {
            &:before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      .radio {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        background: theme-color('light');
        padding: 15px 8px;
        @include font(10, 14, 300);
        text-align: center;
        transition: all 0.3s ease;
        margin: 2px;

        @include media-breakpoint-up(sm) {
          padding: 15px 10px;
          @include fontsize(12, 16);
        }

        @include media-breakpoint-up(lg) {
          padding: 13px 13px 20px;
        }

        &:before {
          @include absolute(-2px, -2px, -2px, -2px);
          content: '';
          border: 4px solid theme-color('primary');
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
        }
      }

      time {
        display: block;
        width: 100%;
      }

      .text-strong {
        display: block;
        color: theme-color('dark');
        font-weight: 600;
        margin: 0 0 4px;
      }
    }
  }

  .detail-banner {
    @include fontsize(14, 20);

    @include media-breakpoint-up(lg) {
      @include fontsize(16, 24);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0 -10px;
      width: calc(100% + 20px);
    }

    @include media-breakpoint-up(xl) {
      margin: 0 -20px;
      width: calc(100% + 40px);
    }

    h2 {
      margin: 0 0 2px;
    }

    .time-option-block {
      p {
        margin: 0 0 5px;
      }

      .btn {
        width: 100%;
      }

      .btn-xl {
        font-size: 1.25rem
      }
    }

    .banner-col {
      padding: 10px 0;

      @include media-breakpoint-up(lg) {
        width: 51%;
        padding: 10px;
      }

      @include media-breakpoint-up(xl) {
        padding: 20px;
      }

      &:first-child {
        @include media-breakpoint-up(lg) {
          width: 49%;
        }
        @include media-breakpoint-up(xl) {
          width: 47.5%;
        }
      }
    }

    .header {
      border-bottom: 1px solid $gray-300;
      padding-bottom: 16px;
      margin: 0 0 17px;
    }

    .scrapped-block {
      margin-top: 10px;

      @include media-breakpoint-up(lg) {
        margin-top: 15px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 32px;
      }
    }

    .bid-wrap {
      @include font(16, 20, $font-weight-light);

      @include media-breakpoint-up(lg) {
        @include fontsize(20, 24);
      }

      .price {
        @include inline(top);
        font-weight: 700;
      }
    }

    h1 {
      margin: 0 0 10px;

      @include media-breakpoint-up(lg) {
        margin: 0 0 14px;
      }
    }
  }

  .info-box {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: $gray-300;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }

    h2 {
      margin: 0 0 16px;

      @include media-breakpoint-up(lg) {
        margin: 0 0 20px;
      }

      &:last-child {
        margin: 0;
      }
    }

    p {
      margin: 0 0 9px;

      &:last-child {
        margin: 0;
      }
    }

    .details-list {
      @include media-breakpoint-up(xl) {
        margin-bottom: -16px;
      }
    }
  }

  .detail-description {
    padding-top: 20px;
    padding-bottom: 20px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row wrap;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 47px;
      padding-bottom: 47px;
    }

    .description-list {
      @extend %listreset;

      @include media-breakpoint-up(md) {
        width: 47.7%;
        padding-left: 36px;
        border-left: 1px solid $gray-300;
        padding-left: 20px;
      }

      @include media-breakpoint-up(lg) {
        padding-left: 36px;
      }

      &:nth-child(odd) {
        padding-left: 0;
        border: none;
      }
    }
  }
}
