.homePage {
  p {
    font-size: 14px;
  }

  .social-value-menu-option {
    p {
      font-size: 12px;
    }
  }

  .intro {
    @include clearfix;
    position: relative;
    color: theme-color('default');

    display: block;
    background-color: $gray-950;
    background-image: none;
    @include media-breakpoint-down(md) {
      padding-top: 0;
    }

    @include media-breakpoint-up(md) {
    }

    &-slider {
      .img-area {
        top: 342px;
        left: 27%;
        @media (max-width: 1600px) {
          top: 316px;
          left: 31%;
        }
        @media (max-width: 1440px) {
          top: 305px;
          left: 33%;
        }
        @media (max-width: 1400px) {
          top: 332px;
        }
        @include media-breakpoint-down(lg) {
          top: 281px;
          left: 39%;
        }
        @include media-breakpoint-down(md) {
          top: 263px;
          left: 41%;
        }
        @include media-breakpoint-down(sm) {
          top: 30px;
          left: -45px;
        }
        @media (max-width: 576px) {
          left: -35px;
        }
        @media (max-width: 414px) {
          left: -23px;
        }
      }
      img {
        @media (max-width: 2800px) {
          max-width: 60%;
          margin: 0;
          margin-left: auto;
        }
        @media (max-width: 2600px) {
          max-width: 65%;
        }
        @media (max-width: 2300px) {
          max-width: 75%;
        }
        @media (max-width: 2000px) {
          max-width: 85%;
        }
        @media (max-width: 1600px) {
          max-width: 100%;
        }
        @media (max-width: 1440px) {
          max-width: 105%;
        }
        @media (max-width: 1400px) {
          max-width: 104%;
        }
        @include media-breakpoint-down(md) {
          max-width: 110%;
        }
      }
    }

    .slide-holder {
      padding-top: 70px;
      @include media-breakpoint-down(xs) {
        padding-top: 35px;
      }
      h1 {
        padding-left: 0;
        max-width: 28.5%;
        @media (max-width: 1600px) {
          max-width: 34%;
        }
        @media (max-width: 1400px) {
          max-width: 39%;
        }
        @include media-breakpoint-down(lg) {
          max-width: 30%;
        }
        @include media-breakpoint-down(md) {
          max-width: 35%;
        }
        @media (max-width: 768px) {
          max-width: 50%;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
          text-align: center;
        }
      }
      .text-box {
        margin: 32px 0 10px;
        padding-left: 0;
        max-width: 32%;
        font-size: 1.2em;
        line-height: 30px;
        @media (max-width: 1600px) {
          max-width: 36%;
        }
        @media (max-width: 1440px) {
          max-width: 40%;
        }
        @include media-breakpoint-down(lg) {
          max-width: 43%;
        }
        @include media-breakpoint-down(md) {
          line-height: 24px;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }

      .homePage-form {
        width: 43%;
        height: 100px;
        margin-top: 10px;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        .form-table {
          max-width: 697px;
          @media (max-width: 2000px) {
            max-width: 488px;
          }
          @media (max-width: 1800px) {
            max-width: 451px;
          }

          @include media-breakpoint-down(sm) {
            max-width: 100%;
          }
          .form-input--table {
            flex-direction: row;
            @include media-breakpoint-down(sm) {
              flex-direction: column;
            }
            @include media-breakpoint-down(xs) {
              flex-direction: column;
            }
          }
          .form-group {
            width: 48% !important;
            @media (max-width: 768px) {
              width: 100% !important;
            }
            .form-control {
              height: 50px;
              border-radius: 2px;
            }
          }
        }

        .form-table .form-group:first-of-type {
          @include media-breakpoint-down(lg) {
            margin-right: 7.5px;
          }
          @include media-breakpoint-down(sm) {
            margin-right: 0 !important;
          }
        }
        .form-table .form-group:last-of-type {
          @include media-breakpoint-down(lg) {
            margin-left: 7.5px;
          }
          @include media-breakpoint-down(sm) {
            margin-left: 0 !important;
          }
        }
      }
    }

    h1 {
      line-height: 1.6875rem;
      letter-spacing: -0.5px;
      font-weight: 300;

      @media (min-width: 1000px) {
        font-size: 2.0625rem;
        line-height: 2.375rem;
        letter-spacing: -1px;
        margin: 0 0 29px;
      }

      @media (min-width: 1220px) {
        font-size: 2.6875rem;
        line-height: 2.9375rem;
        margin: 0 0 28px;
      }
    }

    .divide-row {
      width: 100%;
      height: 198px;
      background: linear-gradient(to bottom right, $gray-950 0%, $gray-950 49.5%, $gray-800 50%, $gray-800 100%);
      @media (max-width: 2800px) {
        height: 201px;
      }
      @media (max-width: 2400px) {
        height: 198px;
      }
      @media (max-width: 2000px) {
        height: 199px;
      }
      @media (max-width: 1800px) {
        height: 198px;
      }
      @media (max-width: 1000px) {
        height: 86px;
      }
      @media (max-width: 576px) {
        margin-top: -25px;
      }
    }

    .bg-tiers {
      @include absolute(0, 0, 0);
      @include size(100%);
      z-index: 400;
      pointer-events: none;
      &:after,
      &:before {
        @include absolute(-350px, 340px, auto, -500px);
        width: 130px;
        background: url(../static/images/icons/bg-tier.svg) repeat-y;
        content: '';
        background-size: 128px 63px;
        @include media-breakpoint-down(md) {
          background-size: 95px 48px;
        }
        opacity: 0.05;
        transform: rotate(-47.5deg);
        @include media-breakpoint-down(lg) {
          transform: rotate(-45deg);
        }
      }
      &:before {
        left: 98px;
        top: 244px;
        @include media-breakpoint-down(xl) {
          left: 135px;
        }
        @include media-breakpoint-down(md) {
          left: 98px;
          top: -78px;
        }
        @media (max-width: 768px) {
          left: 0;
        }
      }
      &:after {
        left: 410px;
        top: -350px;
        @include media-breakpoint-down(xl) {
          left: 350px;
          top: -226px;
        }
        @include media-breakpoint-down(md) {
          left: 322px;
        }
      }
      .template-home & {
        &:after,
        &:before {
          left: 360px;
          bottom: -500px;
          top: -250px;
          @include media-breakpoint-down(xl) {
            background-size: 112px 19px;
            left: 406px;
            bottom: -700px;
            top: -300px;
            width: 112px;
          }
        }
        &:before {
          left: -27px;
          bottom: -500px;
          @include media-breakpoint-up(lg) {
            top: 170px;
            left: -6px;
            bottom: -700px;
          }
        }
      }
    }
    > .img-area {
      @include absolute(0, 0, 0, 0);

      &:after {
        @include absolute(0, 0, 0, 0);
        content: '';
        background: linear-gradient(to right, rgba(theme-color('dark'), 0.75) 0%, rgba(theme-color('dark'), 0) 100%);
      }
    }
  }

  .intro-slider {
    @include clearfix;
    @include fontsize(12, 20);
    position: relative;
    padding-bottom: 0;
    z-index: 100;
    &:before {
      @include absolute(0, 0, 0, 0);
      background: theme-color('dark');
      content: '';
      z-index: -2;
    }
    .template-home & {
      &:before {
        @include media-breakpoint-up(md) {
          bottom: 60px;
        }
        @include media-breakpoint-up(lg) {
          bottom: 80px;
        }
      }
      &:after {
        @include absolute(100%, 0);
        border-color: theme-color('dark') transparent transparent;
        border-style: solid;
        border-width: 30px 100vw 0 0;
        content: '';
        display: block;
        z-index: -2;
        @include media-breakpoint-up(md) {
          border-width: 100px 100vw 0 0;
          margin: -60px 0 0;
        }
        @include media-breakpoint-up(lg) {
          border-width: 110px 100vw 0 0;
          margin: -80px 0 0;
        }
        @include media-breakpoint-up(xl) {
          border-width: 150px 100vw 0 0;
        }
      }
    }
    .slide {
      width: 100%;
      float: left;
      position: relative;
      z-index: 100;
      overflow: visible;

      .container {
        max-width: 80%;
        margin: 0 auto;
      }
    }
    .slick-list {
      margin: 0;
      overflow: visible;
    }
    .slide-holder {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      @include media-breakpoint-down(sm) {
        height: auto !important;
      }
    }
    .slick-dots {
      @extend %listreset;
      overflow: hidden;
      padding: 19px 0 0;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      margin: -5px;
      li {
        padding: 5px;
        &:last-child {
          padding: 5px !important;
        }
        &.slick-active {
          button {
            background: theme-color('default');
            cursor: default;
          }
        }
        button {
          @include text-hide;
          @include size(11px);
          padding: 0;
          cursor: pointer;
          border: 2px solid theme-color('default');
          border-radius: 50%;
          display: block;
          &:hover {
            background: theme-color('default');
          }
        }
      }
    }
    h1 {
      line-height: rem-calc(29);
      margin: 0;
      @include media-breakpoint-up(lg) {
        line-height: rem-calc(43);
      }
      @include media-breakpoint-up(xl) {
        line-height: rem-calc(59);
      }
    }
    h1,
    .text-box {
      @include media-breakpoint-up(md) {
        max-width: 53%;
      }
      @include media-breakpoint-up(lg) {
        max-width: 45%;
        padding: 0 0 0 20px;
      }
      @include media-breakpoint-up(xl) {
        max-width: 42%;
        padding: 0 0 0 50px;
      }
      @include media-breakpoint-up(xxl) {
        padding: 0;
      }
    }
    p {
      letter-spacing: -0.2px;
      margin: 0 0 19px;
      @include media-breakpoint-up(lg) {
        margin: 0 0 26px;
      }
      @include media-breakpoint-up(xl) {
        margin: 0 0 32px;
      }
    }
    .btn-block {
      margin: -5px;
      .btn {
        min-width: 133px;
        margin: 5px;
        height: 60px;
        @include media-breakpoint-up(lg) {
          min-width: 192px;
          padding: 12px 20px;
        }
      }
    }
  }

  .section-services {
    padding-top: 41px;
    padding-bottom: 44px;
    z-index: 5;
    background-color: $gray-800 !important;

    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 55px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 79px;
      padding-bottom: 70px;
    }
    .section-head {
      margin-top: -9px;
      padding-bottom: 25px;
      @include media-breakpoint-down(lg) {
        margin-top: -5px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: -4px;
      }
      p {
        @include media-breakpoint-down(sm) {
          text-align: justify;
        }
      }

      .text-box {
        width: 100%;
      }
    }
    &.add {
      padding-bottom: 52px;
      padding-top: 0;
      position: relative;
      @include media-breakpoint-up(md) {
        background: $gray-800 !important;
        padding-bottom: 0;
      }
      &:before {
        @include media-breakpoint-up(md) {
          @include absolute(-100px, -100px, -100px);
          background: theme-color('darker');
          content: '';
          height: auto;
        }
      }
      &:after {
        @include absolute(100%, 0);
        border-color: theme-color('darker') transparent transparent;
        border-style: solid;
        content: '';
        z-index: 9;
        border-width: 150px 100vw 0 0;
        top: 390px;

        @media (max-width: 2800px) {
          top: 389px;
        }

        @include media-breakpoint-down(md) {
          border-width: 80px 100vw 0 0;
        }

        @media (max-width: 768px) {
          top: 684px;
        }

        @include media-breakpoint-down(sm) {
          top: 771px;
        }

        @media (max-width: 576px) {
          top: 702px;
        }

        @media (max-width: 380px) {
          top: 701px;
        }
      }
      .wrap {
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }
    .container {
      z-index: 500;
      position: relative;
    }
    .content-select-option-wrap {
      position: relative;
      width: 80%;
      margin: 0 auto;
      z-index: 10;
      height: 390px;

      @media (max-width: 768px) {
        height: 685px;
        margin-top: 35px;
      }

      @media (max-width: 576px) {
        height: 595px;
        margin-top: 55px;
      }

      .content.extend .content-block {
        @include media-breakpoint-down(sm) {
          padding-bottom: 75px;
        }
      }

      .box-holder {
        border-radius: 4px;
      }

      .col-md-6 {
        @media (max-width: 768px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.section-model {
  max-width: 100%;
  margin-left: 10.5%;
  margin-right: -2%;

  .text-box {
    @media (max-width: 667px) {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 768px) {
    margin-left: 12%;
    margin-right: 11%;
  }

  .col-md-6 {
    @media (max-width: 768px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .social-value-text {
    margin-top: 258px; // can be different
    padding: 0;
    @media (max-width: 3200px) {
      margin-top: 340px;
    }
    @media (max-width: 2400px) {
      margin-top: 240px;
    }
    @media (max-width: 2000px) {
      margin-top: 200px;
    }
    @media (max-width: 1600px) {
      margin-top: 140px;
    }
    @media (max-width: 1440px) {
      margin-top: 195px;
    }
    @include media-breakpoint-down(xl) {
      margin-top: 200px;
    }
    @include media-breakpoint-down(lg) {
      margin-top: 155px;
    }
    @include media-breakpoint-down(md) {
      margin-top: 80px;
    }
    @media (max-width: 768px) {
      margin-top: 210px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 120px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 75px;
    }
    .text-box {
      max-width: 100%;
    }

    ul {
      padding: 0;
      margin: 16px;
    }
  }
  .social-value-image {
    margin-left: 108px;
    @include media-breakpoint-down(xxl) {
      margin-left: 20px;
    }
    @include media-breakpoint-down(xl) {
      margin-left: 88px;
    }
    @include media-breakpoint-down(lg) {
      margin-left: -60px;
    }
    @include media-breakpoint-down(md) {
      margin-left: -20px;
    }


    .bg-model {
      @media (max-width: 768px) {
        display: none;
      }
    }

    .img-area {
      margin-top: 210px;
      position: relative;
      z-index: 100;
      @media (min-width: 2200px) {
        margin-top: 280px !important;
      }
      @media (min-width: 2400px) {
        margin-top: 300px !important;
      }
      @media (min-width: 2600px) {
        margin-top: 360px !important;
      }
      @media (min-width: 3000px) {
        margin-top: 380px !important;
      }
      @include media-breakpoint-down(xl) {
        margin-top: 20px !important;
      }
      @media (max-width: 768px) {
        display: none;
      }
      img {
        position: relative;
        top: -15px;
        left: 270px;
        transform: scale(1.05);
        @media (min-width: 1680px) {
          left: 200px;
        }
        @media (min-width: 1800px) {
          left: 225px;
        }
        @media (min-width: 1860px) {
          left: 235px;
        }
        @media (min-width: 1900px) {
          left: 240px;
        }
        @media (min-width: 2000px) {
          left: 260px;
        }
        @media (min-width: 2200px) {
          left: 300px;
        }
        @media (min-width: 2400px) {
          left: 340px;
        }
        @media (min-width: 2600px) {
          left: 380px;
        }
        @media (min-width: 2800px) {
          left: 410px;
        }
        @include media-breakpoint-down(xxl) {
          top: -10px;
          left: 190px;
        }
        @media (max-width: 1440px) {
          left: 97px;
          top: -63px;
          transform: scale(1.15);
        }
        @include media-breakpoint-down(xl) {
          left: 107px;
          top: -97px;
          transform: scale(1.4);
        }
        @media (max-width: 1296px) {
          top: -95px;
        }
        @include media-breakpoint-down(lg) {
          top: -69px;
          left: 120px;
          transform: scale(1.2);
        }
        @include media-breakpoint-down(md) {
          left: 72px;
          top: -73px;
          transform: scale(1.325);
        }
        @media (max-width: 897px) {
          top: -65px;
        }
      }
    }
  }


  z-index: 460;
  @include media-breakpoint-up(lg) {
    @include fontsize(14, 24);
  }
  &.bg-info,
  &.bg-before-info {
    .bg-model {
      &:after,
      &:before {
        background: #d1d2d5;
      }
    }
  }
  .bg-model {
    @include absolute(-40px, -10px, auto, 0);
    overflow: hidden;
    width: 9999px;
    @include media-breakpoint-up(sm) {
      left: -140px;
      top: 0;
    }
    @include media-breakpoint-up(md) {
      left: -100px;
      top: 0;
    }
    @include media-breakpoint-up(lg) {
      left: -50px;
    }
    @include media-breakpoint-up(xl) {
      left: -120px;
    }
    @include media-breakpoint-up(xxl) {
      left: 180px;
    }
    &:before {
      @include absolute(-250px, 192px, auto, -300px);
      width: 400px;
      transform: rotate(38deg);
      background: #e6e6e8;
      content: '';
      @include media-breakpoint-up(sm) {
        left: 280px;
      }
      @include media-breakpoint-up(md) {
        left: 280px;
        width: 450px;
        transform: rotate(20deg);
        top: -250px;
        bottom: -250px;
      }
      @include media-breakpoint-up(xl) {
        width: 450px;
      }
    }
    &:after {
      @include absolute(0, 410px, auto, 0);
      background: #e6e6e8;
      width: 9999px;
      content: '';
      @include media-breakpoint-up(sm) {
        left: 500px;
      }
      @include media-breakpoint-up(lg) {
        left: 440px;
      }
      @include media-breakpoint-up(xl) {
        left: 500px;
      }
    }
  }
  ul li:before {
    @include media-breakpoint-up(lg) {
      top: 9px;
    }
  }
}

.content.extend {
  .content-block.social-value-image {
    @include media-breakpoint-down(xs) {
      padding-top: 0!important;
      padding-bottom: 0!important;
    }
  }
}
