.pending-payments__list {
  .btn-success {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 5px;
    min-width: 69px;

    @media (min-width: 1000px) {
      min-width: 89px;
      padding: 13px 20px 12px;
    }

    @media (min-width: 768px) {
      min-width: 128px;
      font-size: 1rem;
      line-height: 1.3125rem;
      padding: 15px 10px;
    }
  }
}
