.star-rating {
  @extend %listreset;
  @include fontsize(18, 18);
  margin: -3px;
  padding: 0 0 10px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: left;
  @include media-breakpoint-up(lg) {
    padding: 0 0 18px;
  }
  &:last-child {
    padding-bottom: 0;
  }
  li {
    &:before {
      content: "";
    }
    &.active {
      &:before {
        content: "";
      }
    }
    &.half-active {
      &:before {
        content: "";
      }
    }
    svg {
      width: 23px;
      height: 23px;
      fill: $green;
    }
  }
  &.add {
    li {
      color: theme-color("primary");
      &:before {
        content: "\e914";
      }
      &.active {
        &:before {
          content: "\e916";
        }
      }
      &.half-active {
        &:before {
          content: "\e901";
        }
      }
    }
  }
}
